body {
  background-color: #E1ECF4;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 300;
  color: white;
  padding-left: 30px;
  font-size: 25px;
}

h1 .subheader {
  font-size: 20px;
}

form {
  padding-left: 375px;
  padding-top: 100px; 
}

input {
  border: 1px; 
  border-radius: 5px;
}

table {
  background-color: #F0F6F9;
  margin: auto;
  width: 95%;
  height: 50%;
  border-radius: 10px;
}

th {
  font-weight: 300;
  background-color: #E2EEF3;
  border: 0px;
  border-radius: 15px;
}

td {
  font-weight: 100;
  text-align: center;
  padding-right: 10px;
}

tr .odd {
  background-color: #E2EEF3;
}

.rh {
  font-weight: 300;
  text-align: left;
  padding-left: 10px;
}

.nav {
    background-color: #1C2541;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 99%;
    height: 70px;
}

.nav .title {;
  width: 30%;
  height: 100%;
  text-align: center;
  padding-top: 16px;
  font-size: 30px;
  font-weight: 400;
  float: left;
}

.nav .button {
  float: right;
  width: 10%;
  text-align: center;
  height: 100%;
  line-height: 4;
}

.nav .button a {
  text-decoration: none;
  color: white;
}

.nav .button a:hover {
  text-decoration: underline;
  color: white;
}

.widget {
  width: 100%;
  height: 300px;
  float: left;
  padding-bottom: 20px;
}

.extra-large-widget {
  background-color: #3A506B;
  width: 99%;
  margin: auto;
  float: left;
  height: 100%;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.large-widget {
  background-color: #3A506B;
  width: 49%;
  float: left;
  height: 100%;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.chart-border{
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  width: 95%;
  height: 80%;
}

.google-chart {
 padding: 30px;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px;
  padding: 5px
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #F0F6F9;
  float: left;
  border: none;
  border-radius: 5px;
  margin-right: 4px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #D3E5EE;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #B6D3E2;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.scrollable-table {
  overflow-y: scroll;
}

.non-widget {
  color: #1C2541;
}

.form-button {
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: #1C2541;
  color: white;
}
