<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
</head>

<body>

    <div class="nav">
        <div class="title">
            Budgeting
        </div>
        <div class="button">
            <a href="/">Home</a>
        </div>
    </div>

    <div class="widget">
        <h1 class="non-widget">Add Money</h1>
        <table>
            <form action="/add_money" method='post'>
                <input class="form-button" type="submit" value="Submit">

                <tr>
                    <th>Category</th>
                    <th>Deposit</th>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <select name="name">
                            <option value="Ali">Ali</option>
                            <option value="Ian">Ian</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Rent
                    </td>
                    <td>
                        <input type="number" step="any" name="Rent" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Utilities
                    </td>
                    <td>
                        <input type="number" step="any" name="Utilities" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Groceries
                    </td>
                    <td>
                        <input type="number" step="any" name="Groceries" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Travel
                    </td>
                    <td>
                        <input type="number" step="any" name="Travel" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Food
                    </td>
                    <td>
                        <input type="number" step="any" name="Food" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Ian Savings
                    </td>
                    <td>
                        <input type="number" step="any" name="Ian-Savings" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Misc
                    </td>
                    <td>
                        <input type="number" step="any" name="Misc" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Vacation
                    </td>
                    <td>
                        <input type="number" step="any" name="Vacation" value="0">
                    </td>
                </tr>
            </form>
        </table>
    </div>

</body>

</html>