<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
</head>

<body>

    <div class="nav">
        <div class="title">
            Budgeting
        </div>
        <div class="button">
            <a href="/import">Import</a>
        </div>
    </div>

    <div class="widget">
        <div class="large-widget">
            <h1>Overview <i class="subheader">- Currently Saved</i> </h1>

            <table>
                 <tr>
                     <th></th>
                     <th>Ali</th>
                     <th>Ian</th>
                     <th>Total</th>
                 </tr>
                 <tr>
                     <td class="rh">Rent</td>
                     <td>test</td>
                     <td>test</td>
                     <td>test</td>
                 </tr>
                 <tr>
                     <td class="rh">Utilities</td>
                     <td>test</td>
                     <td>test</td>
                     <td>test</td>
                 </tr>
                 <tr>
                     <td class="rh">Groceries</td>
                     <td>test</td>
                     <td>test</td>
                     <td>test</td>
                 </tr>
                 <tr>
                     <td class="rh">Travel</td>
                     <td>test</td>
                     <td>test</td>
                     <td>test</td>
                 </tr>
                 <tr>
                     <td class="rh">Food</td>
                     <td>test</td>
                     <td>test</td>
                     <td>test</td>

                 </tr>
                 <tr>
                     <td class="rh">Ian Savings</td>
                     <td>test</td>
                     <td>test</td>
                     <td>test</td>
                 </tr>
                 <tr>
                     <td class="rh">Miscellaneous</td>
                     <td>test</td>
                     <td>test</td>
                     <td>test</td>
                 </tr>
            </table>
        </div>

        <div class="large-widget">
            test2
        </div>
    </div>

</body>

</html>