<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/js/last_statement_pie.js"></script>
    <script type="text/javascript" src="/static/js/last_month_comparison_bar.js"></script>
    <script type="text/javascript" src="/static/js/tabs.js"></script>
</head>

<body>

    <div class="nav">
        <div class="title">
            Budgeting
        </div>
        <div class="button">
            <a href="/import">Import</a>
        </div>
        <div class="button">
            <a href="/deposit">Deposit</a>
        </div>
        <div class="button">
            <a href="/insert">Insert</a>
        </div>
        <div class="button">
            <a href="/monthly">Monthly</a>
        </div>
    </div>

    <div class="widget">
        <div class="large-widget">
            <h1>Overview <i class="subheader">- Currently Saved</i> </h1>

            {% if overview_data %}
            <table>
                 <tr>
                     <th></th>
                     <th>Ali</th>
                     <th>Ian</th>
                     <th>Total</th>
                 </tr>
                 <tr>
                     <td class="rh">Rent</td>
                     <td>{{ overview_data['Ali']['rent'] }}</td>
                     <td>{{ overview_data['Ian']['rent'] }}</td>
                     <td>{{ overview_data['Total']['rent'] }}</td>
                 </tr>
                 <tr>
                     <td class="rh">Utilities</td>
                     <td>{{ overview_data['Ali']['utilities'] }}</td>
                     <td>{{ overview_data['Ian']['utilities'] }}</td>
                     <td>{{ overview_data['Total']['utilities'] }}</td>
                 </tr>
                 <tr>
                     <td class="rh">Groceries</td>
                     <td>{{ overview_data['Ali']['groceries'] }}</td>
                     <td>{{ overview_data['Ian']['groceries'] }}</td>
                     <td>{{ overview_data['Total']['groceries'] }}</td>
                 </tr>
                 <tr>
                     <td class="rh">Travel</td>
                     <td>{{ overview_data['Ali']['travel'] }}</td>
                     <td>{{ overview_data['Ian']['travel'] }}</td>
                     <td>{{ overview_data['Total']['travel'] }}</td>
                 </tr>
                 <tr>
                     <td class="rh">Food</td>
                     <td>{{ overview_data['Ali']['food'] }}</td>
                     <td>{{ overview_data['Ian']['food'] }}</td>
                     <td>{{ overview_data['Total']['food'] }}</td>

                 </tr>
                 <tr>
                     <td class="rh">Ian Savings</td>
                     <td>{{ overview_data['Ali']['ian_savings'] }}</td>
                     <td>{{ overview_data['Ian']['ian_savings'] }}</td>
                     <td>{{ overview_data['Total']['ian_savings'] }}</td>
                 </tr>
                 <tr>
                     <td class="rh">Miscellaneous</td>
                     <td>{{ overview_data['Ali']['misc'] }}</td>
                     <td>{{ overview_data['Ian']['misc'] }}</td>
                     <td>{{ overview_data['Total']['misc'] }}</td>
                 </tr>
                <tr>
                     <td class="rh">Total</td>
                     <td>{{ overview_data['Each_Total']['Ali'] }}</td>
                     <td>{{ overview_data['Each_Total']['Ian'] }}</td>
                     <td>{{ overview_data['Each_Total']['Total'] }}</td>
                 </tr>
            </table>
            {% endif %}
        </div>

        <div class="large-widget">
            <div class="chart-border">
                <div class="google-chart" id="last_statement_pie"></div>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="extra-large-widget">
            <div class="tab">
              <button class="tablinks" onclick="openCategory(event, 'Rent')" id="default">Rent</button>
              <button class="tablinks" onclick="openCategory(event, 'Utilities')">Utilities</button>
              <button class="tablinks" onclick="openCategory(event, 'Groceries')">Groceries</button>
              <button class="tablinks" onclick="openCategory(event, 'Travel')">Travel</button>
              <button class="tablinks" onclick="openCategory(event, 'Food')">Food</button>
              <button class="tablinks" onclick="openCategory(event, 'Ian Savings')">Ian Savings</button>
              <button class="tablinks" onclick="openCategory(event, 'Misc')">Misc.</button>


            </div>


            <div class="scrollable-table">
                <!-- Tab content -->
                <div id="Rent" class="tabcontent">
                  <h1>Rent</h1>

                    <table>
                         <tr>
                             <th>Date</th>
                             <th>Description</th>
                             <th>Amount</th>
                         </tr>
                         <tr>
                             <td>Rent</td>
                             <td>test</td>
                             <td>test</td>
                         </tr>
                    </table>
                </div>

                <div id="Utilities" class="tabcontent">
                    <h1>Utilities</h1>

                    <table>
                         <tr>
                             <th>Date</th>
                             <th>Description</th>
                             <th>Amount</th>
                         </tr>
                         <tr>
                             <td>Groceries</td>
                             <td>test</td>
                             <td>test</td>
                         </tr>
                    </table>
                </div>

                <div id="Groceries" class="tabcontent">
                    <h1>Groceries</h1>

                    <table>
                         <tr>
                             <th>Date</th>
                             <th>Description</th>
                             <th>Amount</th>
                         </tr>
                         <tr>
                             <td>Groceries</td>
                             <td>test</td>
                             <td>test</td>
                         </tr>
                    </table>
                </div>

                <div id="Travel" class="tabcontent">
                    <h1>Travel</h1>

                    <table>
                         <tr>
                             <th>Date</th>
                             <th>Description</th>
                             <th>Amount</th>
                         </tr>
                         <tr>
                             <td>Groceries</td>
                             <td>test</td>
                             <td>test</td>
                         </tr>
                    </table>
                </div>

                <div id="Food" class="tabcontent">
                    <h1>Food</h1>

                    <table>
                         <tr>
                             <th>Date</th>
                             <th>Description</th>
                             <th>Amount</th>
                         </tr>
                         <tr>
                             <td>Groceries</td>
                             <td>test</td>
                             <td>test</td>
                         </tr>
                    </table>
                </div>

                <div id="Ian Savings" class="tabcontent">
                    <h1>Ian Savings</h1>

                    <table>
                         <tr>
                             <th>Date</th>
                             <th>Description</th>
                             <th>Amount</th>
                         </tr>
                         <tr>
                             <td>Groceries</td>
                             <td>test</td>
                             <td>test</td>
                         </tr>
                    </table>
                </div>

                <div id="Misc" class="tabcontent">
                    <h1>Misc.</h1>

                    <table>
                         <tr>
                             <th>Date</th>
                             <th>Description</th>
                             <th>Amount</th>
                         </tr>
                         <tr>
                             <td>Groceries</td>
                             <td>test</td>
                             <td>test</td>
                         </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("default").click();
    </script>

<div class="widget">
        <div class="large-widget">
            <div class="chart-border">
                <div class="google-chart" id="last_month_comparison_bar"></div>
            </div>
        </div>

        <div class="large-widget">

        </div>
</div>

</body>

</html>